.category-crud-form-card {
  padding: 20px;
}

.category-crud-form-title {
  color: var(--text-color);
  margin-bottom: 20px;
}

.category-crud-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

@media (max-width: 576px) {
  .category-crud-form-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 380px) {
  .category-crud-form-title {
    font-size: 1.2rem;
  }

  .category-crud-buttons {
    display: unset;
  }

  .category-crud-button {
    margin: 10px 0;
  }
}
