.search-bar {
    width: 500px;
}

.search-bar form {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 20px;
    border-radius: 10px;
    
    background: #1E0848;
}

.search-bar input {
    background: none;
    border: none;
    outline: none;

    width: 95%;

    font-size: 18px;

    color: #fff;
}

.search-bar button {
    background: none;
    border: none;
}