.main-nav {
  color: #fff;
  min-height: 80px;
  padding-top: 20px;
}

.container-logo a {
  display: flex;
  justify-content: space-around;
  width: auto;
  height: 75px;
}

.login-icon {
  color: #fff;
}

.login-icon:hover {
  color: var(--primary-color);
}