.main-nav {
  color: #fff;
  min-height: 80px;
  padding-top: 20px;
}

.container-logo a {
  display: flex;
  justify-content: space-around;
  width: auto;
  height: 75px;
}

.search-bar {
  width: 500px;
}

.search-bar form {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 10px;
  border-radius: 10px;
  
  background: #1E0848;
}

.search-bar input {
  background: none;
  border: none;
  outline: none;

  width: 95%;

  font-size: 18px;

  color: #fff;
}

.search-bar button {
  background: none;
  border: none;
  padding: 0 10px;
}

.login-logout-icon {
  color: #fff;
}

.login-logout-icon:hover {
  color: var(--primary-color);
}

@media (max-width: 1200px) {
  .container-logo a {
    height: 65px;
  }
}

@media (max-width: 992px) {
  .main-nav {
    justify-content: center;
  }

  .container-nav-bar {
    gap: 40px;
  }
}

@media (max-width: 767px) {
  .login-icon {
    order: 2;
  }

  .search-bar {
    order: 3;
  }
}