.container-category {
  color: #fff;
  padding-top: 20px;
  padding-bottom: 8px;
}

.main-menu-category a:hover {
  color: var(--primary-color);
}

.main-menu-category a.active {
  color: var(--primary-color);
}

.main-menu-category {
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
  justify-content: space-between;
  text-transform: uppercase;
}

.main-menu-category ul,
.main-menu-category li {
  list-style: none;
}

.main-menu-category a {
  flex: 1;
}

@media (max-width: 1200px) {
 .main-menu-category {
  justify-content: center;
  gap: 30px;
 }
}