.admin-container {
  display: flex;
}

.admin-content {
  padding: 12px;
  flex: 1;
}

@media (max-width: 992px) {
  .admin-container {
    flex-direction: column;
  }

  .admin-content {
    padding: 10px;
  }
}
