.admin-container {
    display: flex;
}

.admin-content {
    flex: 1;
}

@media (max-width: 992px) {
    .admin-container {
        flex-direction: column;
    }

    .admin-content {
        padding: 20px;
    }
}