.products-container {
    font-size: 1.125rem;
    min-height: 100vh;
    min-height: calc(100vh - 182px);
    position: relative;
    width: 100%;
}

.product-title {
    margin-bottom: 20px;
}

.product-title h1 {
    font-size: 1em;
    color: var(--text-color);
}

.product-item:hover {
    cursor: pointer;
}

footer {
    bottom: unset;
}

@media (min-width: 576px) {
    .products-container {
        font-size: 1.875rem;
    }
}