.products-container {
    font-size: 1.125rem;
}

.product-title {
    margin-bottom: 20px;
}

.product-title h1 {
    font-size: 1em;
    color: var(--text-color);
}

.product-item:hover {
    cursor: pointer;
}

@media (min-width: 576px) {
    .products-container {
        font-size: 1.875rem;
    }
}